.my-projects {
    background-color: rgba(255, 214, 150, 0.20);

    color: var(--black);
    font-size: 24px;
    padding-bottom: 65px;
    margin-bottom: 272px;
}

.my-projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 35px;
    padding-bottom: 50px;
}

.my-projects-title {
    color: #3B1FEA;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 9.6px;
}

.my-projects-images {
    display: grid;
    justify-content: center;
    grid-template-columns: 246px 246px 246px;
    grid-row-gap: 50px;
    grid-column-gap: 210px;
}